*{
  font-family: 'Courier New', Courier, monospace; 
  justify-content: space-between;
}

body { 

  
  height: 20vh;
  margin: 40px;
 display:grid;
 border-bottom: 30%;
 align-content: flex-start;
 align-items:flex-;
  
  grid-gap:4em;
  grid-auto-flow: row;
 
  
  grid-template-columns: 1fr 2fr;
   
  place-items:center;
  max-height: 800vh;
  padding: 1rem;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 60em 60em;

  font-family: 'Source Code Pro', monospace;
  background: url(../assets/wtr.gif);
            background-repeat: no-repeat ; 
            background-position: center center;
            background-attachment: fixed;
            background-size: cover;
            

}




h2{
  color: rgba(245, 245, 245, 0.788);
  backdrop-filter: blur(5px);
  
  
  position:fixed;
  top: 100px;
  outline-color: transparent;
  border-width: 1em;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  border-style:solid;
  inline-size: 400px; 
  border-inline-end-color:transparent;
  border-inline-start-color: transparent;
  border-inline-width: 30px;
 
  overflow: min-content;

}

h2:hover{
  color:aqua;
  transition:0.5s;
  padding:16px;
  transition:0,5
}
title{

  color: violet;

}

h2::before{

  content: 'hello,';
  color: rgb(23, 132, 196)(180, 123, 123)(180, 123, 123)(180, 123, 123)(180, 123, 123)(180, 123, 123);
  padding:1em;
  width: 1em;
  height:1em;
  position:absolute;
  top: 50em;
  

}

.li{
  color:yellow;
}

.sunday{
  
  margin:0.2em;
  margin-bottom: 100%;
  width: 5em;
  height: 11%;
  margin-top:110%;
  border-width: 22em;
  border-height: 32em;
  
 
    white-space: 2em;
    background: repeating-linear-gradient(solid, #06fdf1 8px),
            repeating-linear-gradient(0.7turn, solid, #e784e2 80px );
            box-shadow: 1em 3em 9em 3em rgb(0, 255, 234);

}




h2::after{
  
    color: rgb(23, 132, 196)(180, 123, 123)(180, 123, 123)(180, 123, 123)(180, 123, 123)(180, 123, 123);
  padding:1em;
  width: 1em;
  height:1em;
  

}

.container{
  color: rgb(88, 36, 81);
}

img{
  border: 1em solid rgba(16, 255, 215, 0);
  border-radius: 1em;
  padding: 1em;
  outline: 1em solid rgb(8, 255, 255);
  background-color: rgba(42, 42, 153, 0.534);
  box-sizing: 2em ;
  
  
  margin-right: auto;
  margin-left:;
    white-space: 2em;
    background: repeating-linear-gradient(transparent, #ff00c8 80px),
            repeating-linear-gradient(0.8turn, transparent, #e784e2 5em );
       
        box-shadow: 1em 3em 9em 3em rgb(255, 0, 242);


}


.overpowered{
  width:100%;
  height:100%;
  background: rgba(0,0,255,7)
}
.span{
  color:blue;
  width: 50px;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; 
}



.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 2.8s;
  transform-style: preserve-3d;
  
}
 
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

 
.flip-card-front, .lambda {
  position: static; 
  margin-top: -3em;
 
  width: 131%;
  height:110%;
  background: radial-gradient(circle closest-side at 25% 75%,
  rgb(255, 196, 0), rgb(0, 255, 55) 40%, #1effc7 70%, rgba(253, 253, 189, 0.993));
  border-radius: 10%;
}


.flip-card-front {
  background-color:rgb(0, 247, 255);
 
  color: rgb(13, 233, 222);
outline:rgba(255, 0, 255, 0.103) 16px;
}



p2{

  color: rgb(43, 255, 15);
  width: 3em;
  margin: 1em;

  
}

flip-card-front:hover{

  color:aquamarine;
  transition: 0s;

  transform: :skew(.312rad);
}

p2:hover{

  color: aqua;
}

 
.flip-card-back {
  background-color: aqua;
  color: rgb(40, 148, 143);
  transform: rotateY(180deg);
  margin-left: auto;
  margin-right:auto;
  
}

footer{
  
  margin:20em;
  margin-bottom: 110%;
  display: flex;
  flex-wrap: wrap;
  height: 11%;
  margin-top:120%;
  border: 3em solid rgba(16, 255, 215, 0);
  border-radius: 1em;
  border-bottom:5em;
  height:max-content;
  padding: 16px;
  outline: 16px solid #ff3fd5;
  background-color: rgba(42, 42, 153, 0.534);
  box-sizing: 2em ;
  perspective: 1000px;
  
  
  margin-right: right;
 
    white-space: 2em;
    background: repeating-linear-gradient(transparent, #00fff2d2 8px),
            repeating-linear-gradient(0.7turn, transparent, #e784e2 80px );
            box-shadow: 1em 3em 9em 3em rgb(0, 255, 234);

}

#lazer{
  color:yellow;
}




